.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

nav .navbar-nav li a {
	color: rgba(253, 255, 134, 0.884) !important;
	font-weight: 500;
}

nav .navbar-nav li a:hover {
	color: white !important;
}

nav .navbar-nav .navbar-right ul{
	float: right;
}


.bg-kadence {
	/*background-color: #26375c;*/
	/*background-color: #0f152e;*/
	background-color: #090449;
}

main>.container {
	padding: 60px 15px 0;
}

.footer {
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
  }